{%extends 'basewhite.html' %}
{% load static %}

{% block links %}
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/product.css' %}">
{% endblock %}

{% block title %}
    <title>Product</title>
{% endblock %}
{% block content %}
    <div class="container main">
        <div class="title">{{ product.name }}</div>
        <div class="content">
            <div class="img">
                <img src={{ product.image.url }}>
            </div>
            <div class="parametrs">
                <div class="is-in-stock">Є в наявності</div>
                <div class="capacity">
                    <div class="capacity-name">Об’єм</div>
                    <div class="cont-buttons">
                        <button class="value active-val">3л</button>
                        <button class="value">6л</button>
                        <button class="value">9л</button>
                    </div>
                </div>
                <div class="colors">
                    <div class="colors-name">Колір</div>
                    <div class="dots white active-dot"></div>
                    <div class="dots red"></div>
                    <div class="dots blue"></div>
                    <div class="dots green"></div>
                    <div class="dots black"></div>
                </div>
                <div class="price-buttons">
                    <div class="price-buttons-price">
                        Ціна:
                        {% if product.old_price %}
                        <span class="old-price">{{ product.old_price }}</span>
                        {% endif %}   
                        <span class="new-price">{{ product.new_price }}</span>
                        грн
                    </div>
                        <div class="calc">
                            <div class="minus">
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 8.125V11.875C0 12.22 0.28 12.5 0.625 12.5H19.375C19.72 12.5 20 12.22 20 11.875V8.125C20 7.78 19.72 7.5 19.375 7.5H0.625C0.28 7.5 0 7.78 0 8.125Z" fill="black"/>
                                </svg>
                            </div>
                            <div class="number">1</div>
                            <div class="plus">
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M19.375 7.5H12.5V0.625C12.5 0.28 12.22 0 11.875 0H8.125C7.78 0 7.5 0.28 7.5 0.625V7.5H0.625C0.28 7.5 0 7.78 0 8.125V11.875C0 12.22 0.28 12.5 0.625 12.5H7.5V19.375C7.5 19.72 7.78 20 8.125 20H11.875C12.22 20 12.5 19.72 12.5 19.375V12.5H19.375C19.72 12.5 20 12.22 20 11.875V8.125C20 7.78 19.72 7.5 19.375 7.5Z" fill="black"/>
                                </svg>    
                            </div>
                        </div>
                        <div class="buttons">
                            <button class="offer offer-now">Купити</button>
                            <button class="offer offer-basket">Додати в кошик</button>
                        </div>
                        <div class="messages">
                            <div class="buyone">Замовлення оформлено</div>
                            <div class="addedtobasket">Додано</div>
                        </div>       
                    </div>
            </div>
            <div class="order-window">
                <div class="text-order">Оформлення замовлення</div>
                <div class="input-user">
                    <label class="name-order">Ім'я</label>
                    <input type="text" class="name-order-inp">
                    <label class="surname-order">Прізвище</label>
                    <input type="text" class="name-order-inp">
                    <label >Телефон</label>
                    <input type="text" class="name-order-inp phone">
                    <label >Відділення Нової пошти</label>
                    <input type="text" class="name-order-inp post-office">
                </div>
                <input type="submit" class="submition" value="Підтвердити">
                
            </div>
        </div>
        <div class="description">
            <div class="description-name">Опис</div>
            <div class="description-full">
                {{ product.description }}
                <p>Латексна, атмосферостійка фарба на основі акрилату для зовнішніх робіт.</p>

                <p class="bold">Сфера використання</p>

                <p>Призначена для первинного фарбування міцної цементно-вапняної та вапняної штукатурок (у т. ч. декоративні штукатурки «короїд» та «баранчик»), бетону та інших мінеральних поверхонь. Також підходить як фінішне покриття системи теплоізоляції фасадів.
                Фарба придатна для раніше фарбованих поверхонь, якщо старе покриття не відшаровується і немає крейди.
                Фарба не придатна для фарбування еластичних поверхонь та поверхонь, пофарбованих вапняними фарбами, не призначена для горизонтальних поверхонь, що піддаються дії води.
                Рекомендується для первинного та ремонтного фарбування фасадів житлових, торгових, промислових, складських та інших будівель.</p>

                <p class="bold">Безпека</p>

                <p>Фарба є нетоксичною та пожежобезпечною, не містить легколітніх органічних розчинників, важких металів, фенолів, алкілфенолетоксилату та аміаку.
                Граничний вміст ЛОС для цієї продукції 40 г/л:
                підкатегорія А/3 – Технічний Регламент наказу № 1394 (subcategory А/c – Directive 2004/42/СЕ).
                Фактичний вміст ЛОС у готовій для використання фарбі не перевищує 3 г/л.</p>
            </div>           
        </div>
        <div class="menu">
            <div class="filter-cont">
                <div class="menu-title">Виробник</div>
                    <ul class="filter">
                        <li class="filter-item"><a href="{% url 'sever_1:search' %}?maker=Farbman">Farbmann</a></li>
                        <li class="filter-item"><a href="{% url 'sever_1:search' %}?maker=Kolorit">Kolorit</a></li>
                        <li class="filter-item"><a href="{% url 'sever_1:search' %}?maker=Colortree">Colortree</a></li>
                        <li class="filter-item"><a href="{% url 'sever_1:search' %}?maker=Tikkurila">Tikkurila</a></li>
                    </ul>
            </div>
            <div class="split"></div>
            <div class="filter-cont">
                <div class="menu-title">Тип поверхні</div>
                    <ul class="filter">
                        <li class="filter-item"><a href="{% url 'sever_1:search' %}?surface=Бетон">Бетон</a></li>
                        <li class="filter-item"><a href="{% url 'sever_1:search' %}?surface=Дерево">Дерево</a></li>
                        <li class="filter-item"><a href="{% url 'sever_1:search' %}?surface=Метал">Метал</a></li>
                    </ul>
            </div>
            <div class="split"></div>
            <div class="filter-cont">
                <div class="menu-title">Категорії</div>
                    <ul class="filter">
                        <li class="filter-item"><a href="{% url 'sever_1:search' %}?category=Фарби">Фарби</a></li>
                        <li class="filter-item"><a href="{% url 'sever_1:search' %}?category=Лаки">Лаки</a></li>
                        <li class="filter-item"><a href="{% url 'sever_1:search' %}?category=Емаль">Емаль</a></li>
                    </ul>
            </div>
        </div>
        <div class="menu-profile">
            <ul class="list-profile">
                {% if user.is_authenticated %}
                <li class="item-profile"><a href="{% url 'sever_1:profile' %}">Профіль</a></li>
                <li class="item-profile"><a href="{% url 'users:logout' %}">Вийти</a></li>
                {% else %}
                <li class="item-profile"><a href="{% url 'users:register' %}">Зареєструватись</a></li>
                <li class="item-profile"><a href="{% url 'users:login' %}">Вхід</a></li>
                {% endif %}
                <li class="item-profile"><a href="{% url 'sever_1:basket' %}">Кошик</a></li>
            </ul>
        </div>
    </div> 
    <div class="contacts" id="contacts">
            <div class="container contacts-cintainer">
                <div class="contacts-cont">
                    <div class="contacts-title">
                        Контакти
                    </div>
                    <div class="place">
                        <p>Адреса</p> 
                        <p>Місто Шевченкове вулиця Шевченка, 1</p>
                    </div>
                    <div class="elem">
                        Kyivstar +380973184865
                    </div>
                    <div class="elem">
                        Life +380934685270
                    </div>
                    <div class="elem">
                        sever@gmail.com
                    </div>
                    <div class="elem">
                        sever.com.ua
                    </div>
                </div>
                <div class="contacts-partners">
                    <div class="contacts-title">
                        Партнери:
                    </div>
                    <div class="partner">
                        <p>Colortree</p>
                        <p>Bosch</p>
                        <p>Ceresit</p>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}t
{% block js %}    
    <script src="{% static 'js/header.js' %}"></script>
    <script src="{% static 'js/basketfill.js' %}"></script>
{% endblock %}